.bg_h {
  position: absolute;
  top: 9px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  left: 62px;
}

.bgset {
  padding: 52px 42px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  background: #102e3f;
}
