
.ulst {
    list-style: none;
  }

  .ulst.infoGraphic {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ulst.infoGraphic .listss {
    position: relative;
    width: 100%;
    max-width: 36em;
    background: #f5f8f7;
    border-radius: 0.5em;
height: 16rem;
    z-index: 1;
    transition: all 0.2s;
    cursor: pointer;
  }



  .ulst.infoGraphic .listss .numberWrap {
    position: absolute;
  }
  .ulst.infoGraphic .listss .number {
    font-family: "maven pro", sans-serif;
    font-size: 13em;
    font-weight: 900;
    width: 0.9em;
    align-items: center;
  }
  .ulst.infoGraphic .listss .number.fontColor1 {
    color: #3498db;
  }

  .ulst.infoGraphic .listss .coverWrap {
    transform: rotate(130deg);
    position: absolute;
    width: 18em;
    height: 15em;
    left: -3em;
    top: -1em;
  }
  .ulst.infoGraphic .listss .coverWrap .numberCover {
    position: absolute;
    background: #f5f8f7;
    width: 18em;
    height: 6em;
    border-radius: 50% 50% 0 0;
    border-bottom: 3px solid #f5f8f7;
    transition: all 0.4s;
  }
  .ulst.infoGraphic .listss .coverWrap .numberCover::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 4em;
    right: 4em;
    top: 5em;
    box-shadow: 0 0 30px 17px #48668577;
    border-radius: 100px/10px;
    z-index: -1;
  }
  .ulst.infoGraphic .listss .coverWrap .numberCover::after {
    position: absolute;
    bottom: 0;
    content: "";
    left: -10%;
    width: 120%;
    height: 150%;
    background: radial-gradient(at bottom, #48668533, transparent, transparent);
    z-index: 1;
  }
  .ulst.infoGraphic .listss .content {
    margin: 8em 3em 1em 7em;
    position: relative;
  }
  .ulst.infoGraphic .listss .content h2 {
    font-size: 1.7em;
    font-weight: 500;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .ulst.infoGraphic .listss .content p {
    line-height: 1.5em;
  }

  .ulst.infoGraphic .listss:hover .coverWrap .numberCover {
    border-radius: 100%;
  }

  .icon {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    top: -1.3em;
    left: 26%;
    transform: translatex(-50%);
  }
  .bxx {
    font-family: "Poppins", sans-serif;
    background: transparent;
    cursor: pointer;
    counter-increment: myCounter;

  }





  .numbsets::before {
    content: '' counter(myCounter);
    font-weight: bold;
  }

  .controls {
    position: fixed;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #d7d7d7a1;
    padding: 0.5rem 2em;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 1px solid #0000004d;
  }
